<div class="row">
    <div class="col-md-6">
        <!-- Content for the first column -->
    </div>
    <div class="col-md-6">
        <nav>
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link text-black" href="#">
                        <span>First</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-black" href="#">
                        <span>Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-black" href="#">
                        <span>1</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-black" href="#">
                        <span>2</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-black" href="#">
                        <span>3</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-black" href="#">
                        <span>Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-black" href="#">
                        <span>Last</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>