
@model IEnumerable<ProductViewModel>

@{
   
}
@foreach (var product in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="@product.ImageUrl" class="card-img-top" alt="Imah edna mq4ta">
        <div class="card-body">
            <h5 class="card-title">@product.ProductName</h5>
            <p class="card-text">@product.ProductPrice</p>
           
        </div>
    </div>
}    